################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework-2.3/Homework-2.3/Homework-2.3.cpp
/Homework-2.3
/Homework-2.4/x64/Debug
