################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test-1.3/Test-1.3
/Test-1.3/Debug/Test-1.3.pdb
/Test-1.3/Debug/Test-1.3.ilk
/Test-1.3/Debug/Test-1.3.exe
/Test-1.3/Debug
/Test-1.3/.vs/Test-1.3/v15/ipch/AutoPCH/438cafee30ef6fb6/CLASSOFSOLVING.ipch
/Test-1.3/.vs/Test-1.3/v15/ipch/AutoPCH/438cafee30ef6fb6
/Test-1.3/.vs/Test-1.3/v15/Browse.VC.db
/Test-1.3/.vs/Test-1.3/v15/.suo
/Test-1.3/.vs/Test-1.3/v15
/Test-1.3
/Test-1.2/Test-1.2/Test-1.2.vcxproj.user
/Test-1.2/Test-1.2/Test-1.2.vcxproj.filters
/Test-1.2/Test-1.2/Debug/vc141.pdb
/Test-1.2/Test-1.2/Debug/vc141.idb
/Test-1.2/Test-1.2/Debug/Test-1.2.tlog/Test-1.2.lastbuildstate
/Test-1.2/Test-1.2/Debug/Test-1.2.tlog/link.write.1.tlog
/Test-1.2/Test-1.2/Debug/Test-1.2.tlog/link.read.1.tlog
/Test-1.2/Test-1.2/Debug/Test-1.2.tlog/link.command.1.tlog
/Test-1.2/Test-1.2/Debug/Test-1.2.tlog/CL.write.1.tlog
/Test-1.2/Test-1.2/Debug/Test-1.2.tlog/CL.read.1.tlog
/Test-1.2/Test-1.2/Debug/Test-1.2.tlog/CL.command.1.tlog
/Test-1.2/Test-1.2/Debug/Test-1.2.tlog
/Test-1.2/Test-1.2/Debug/Test-1.2.log
/Test-1.2/Test-1.2/Debug/ClassOfSolving.obj
/Test-1.2/Test-1.2/Debug
/Test-1.2/Test-1.2
/Test-1.2/Debug/Test-1.2.pdb
/Test-1.2/Debug/Test-1.2.ilk
/Test-1.2/Debug/Test-1.2.exe
/Test-1.2/Debug
/Test-1.2/.vs/Test-1.2/v15/ipch/AutoPCH/7eccae44e9b033df/CLASSOFSOLVING.ipch
/Test-1.2/.vs/Test-1.2/v15/ipch/AutoPCH/7eccae44e9b033df
/Test-1.2/.vs/Test-1.2/v15/Browse.VC.db
/Test-1.2/.vs/Test-1.2/v15/.suo
/Test-1.2/.vs/Test-1.2/v15
/Test-1.2
/Test-1.1/Test-1.1/Test-1.1.vcxproj.user
/Test-1.1/Test-1.1/Test-1.1.vcxproj.filters
/Test-1.1/Test-1.1/Debug/vc141.pdb
/Test-1.1/Test-1.1/Debug/vc141.idb
/Test-1.1/Test-1.1/Debug/Test-1.1.tlog/Test-1.1.lastbuildstate
/Test-1.1/Test-1.1/Debug/Test-1.1.tlog/link.write.1.tlog
/Test-1.1/Test-1.1/Debug/Test-1.1.tlog/link.read.1.tlog
/Test-1.1/Test-1.1/Debug/Test-1.1.tlog/link.command.1.tlog
/Test-1.1/Test-1.1/Debug/Test-1.1.tlog/CL.write.1.tlog
/Test-1.1/Test-1.1/Debug/Test-1.1.tlog/CL.read.1.tlog
/Test-1.1/Test-1.1/Debug/Test-1.1.tlog/CL.command.1.tlog
/Test-1.1/Test-1.1/Debug/Test-1.1.tlog
/Test-1.1/Test-1.1/Debug/Test-1.1.log
/Test-1.1/Test-1.1/Debug/ClassOfSolution.obj
/Test-1.1/Test-1.1/Debug
/Test-1.1/Test-1.1
/Test-1.1/Debug/Test-1.1.pdb
/Test-1.1/Debug/Test-1.1.ilk
/Test-1.1/Debug/Test-1.1.exe
/Test-1.1/Debug
/Test-1.1/.vs/Test-1.1/v15/ipch/AutoPCH/99d1b23c2c8e2213/CLASSOFSOLUTION.ipch
/Test-1.1/.vs/Test-1.1/v15/ipch/AutoPCH/99d1b23c2c8e2213
/Test-1.1/.vs/Test-1.1/v15/Browse.VC.db
/Test-1.1/.vs/Test-1.1/v15/.suo
/Test-1.1/.vs/Test-1.1/v15
/Test-1.1
/Homework-9.1/Homework-9.1.sln
/Homework-9.1/Homework-9.1/Homework-9.1.vcxproj.user
/Homework-9.1/Homework-9.1/Homework-9.1.vcxproj.filters
/Homework-9.1/Homework-9.1/Homework-9.1.vcxproj
/Homework-9.1/Homework-9.1/Hash.cpp
/Homework-9.1/Homework-9.1
/Homework-9.1/.vs/Homework-9.1/v15/ipch/AutoPCH/ccb4ea7ab499dabf/HASH.ipch
/Homework-9.1/.vs/Homework-9.1/v15/ipch/AutoPCH/ccb4ea7ab499dabf
/Homework-9.1/.vs/Homework-9.1/v15/Browse.VC.db
/Homework-9.1/.vs/Homework-9.1/v15/.suo
/Homework-9.1/.vs/Homework-9.1/v15
/Homework-9.1
/Homework-8.1/Homework-8.1/Homework-8.1.vcxproj.user
/Homework-8.1/Homework-8.1/Homework-8.1.vcxproj.filters
/Homework-8.1/Homework-8.1/Debug/vc141.pdb
/Homework-8.1/Homework-8.1/Debug/vc141.idb
/Homework-8.1/Homework-8.1/Debug/Tree.obj
/Homework-8.1/Homework-8.1/Debug/Solution.obj
/Homework-8.1/Homework-8.1/Debug/Homework-8.1.tlog/link.write.1.tlog
/Homework-8.1/Homework-8.1/Debug/Homework-8.1.tlog/link.read.1.tlog
/Homework-8.1/Homework-8.1/Debug/Homework-8.1.tlog/link.command.1.tlog
/Homework-8.1/Homework-8.1/Debug/Homework-8.1.tlog/Homework-8.1.lastbuildstate
/Homework-8.1/Homework-8.1/Debug/Homework-8.1.tlog/CL.write.1.tlog
/Homework-8.1/Homework-8.1/Debug/Homework-8.1.tlog/CL.read.1.tlog
/Homework-8.1/Homework-8.1/Debug/Homework-8.1.tlog/CL.command.1.tlog
/Homework-8.1/Homework-8.1/Debug/Homework-8.1.tlog
/Homework-8.1/Homework-8.1/Debug/Homework-8.1.log
/Homework-8.1/Homework-8.1/Debug
/Homework-8.1/Homework-8.1
/Homework-8.1/Debug/Homework-8.1.pdb
/Homework-8.1/Debug/Homework-8.1.ilk
/Homework-8.1/Debug/Homework-8.1.exe
/Homework-8.1/Debug
/Homework-8.1/.vs/Homework-8.1/v15/ipch/AutoPCH/bfec432feab589a2/TREE.ipch
/Homework-8.1/.vs/Homework-8.1/v15/ipch/AutoPCH/bfec432feab589a2
/Homework-8.1/.vs/Homework-8.1/v15/ipch/AutoPCH/93ddb19ad7e6a701/TREE.ipch
/Homework-8.1/.vs/Homework-8.1/v15/ipch/AutoPCH/93ddb19ad7e6a701
/Homework-8.1/.vs/Homework-8.1/v15/ipch/AutoPCH/62557dc0f2b22318/SPECARRAY.ipch
/Homework-8.1/.vs/Homework-8.1/v15/ipch/AutoPCH/62557dc0f2b22318
/Homework-8.1/.vs/Homework-8.1/v15/ipch/AutoPCH/11db0a3ba8d4bcad/SOLUTION.ipch
/Homework-8.1/.vs/Homework-8.1/v15/ipch/AutoPCH/11db0a3ba8d4bcad
/Homework-8.1/.vs/Homework-8.1/v15/ipch/AutoPCH
/Homework-8.1/.vs/Homework-8.1/v15/Browse.VC.db
/Homework-8.1/.vs/Homework-8.1/v15/.suo
/Homework-8.1/.vs/Homework-8.1/v15
/Homework-8.1
/Homework-6.2/Homework-6.2/Homework-6.2.vcxproj.user
/Homework-6.2/Homework-6.2/Homework-6.2.vcxproj.filters
/Homework-6.2/Homework-6.2/Debug/vc141.pdb
/Homework-6.2/Homework-6.2/Debug/vc141.idb
/Homework-6.2/Homework-6.2/Debug/Solution.obj
/Homework-6.2/Homework-6.2/Debug/Homework-6.2.tlog/link.write.1.tlog
/Homework-6.2/Homework-6.2/Debug/Homework-6.2.tlog/link.read.1.tlog
/Homework-6.2/Homework-6.2/Debug/Homework-6.2.tlog/link.command.1.tlog
/Homework-6.2/Homework-6.2/Debug/Homework-6.2.tlog/Homework-6.2.lastbuildstate
/Homework-6.2/Homework-6.2/Debug/Homework-6.2.tlog/CL.write.1.tlog
/Homework-6.2/Homework-6.2/Debug/Homework-6.2.tlog/CL.read.1.tlog
/Homework-6.2/Homework-6.2/Debug/Homework-6.2.tlog/CL.command.1.tlog
/Homework-6.2/Homework-6.2/Debug/Homework-6.2.tlog
/Homework-6.2/Homework-6.2/Debug/Homework-6.2.log
/Homework-6.2/Homework-6.2/Debug
/Homework-6.2/Homework-6.2
/Homework-6.2/Debug/Homework-6.2.pdb
/Homework-6.2/Debug/Homework-6.2.ilk
/Homework-6.2/Debug/Homework-6.2.exe
/Homework-6.2/Debug
/Homework-6.2/.vs/Homework-6.2/v15/ipch/AutoPCH/b430426fbdd798b8/SOLUTION.ipch
/Homework-6.2/.vs/Homework-6.2/v15/ipch/AutoPCH/b430426fbdd798b8
/Homework-6.2/.vs/Homework-6.2/v15/ipch/AutoPCH/5a269804e27f8868/SOLUTION.ipch
/Homework-6.2/.vs/Homework-6.2/v15/ipch/AutoPCH/5a269804e27f8868
/Homework-6.2/.vs/Homework-6.2/v15/ipch/AutoPCH
/Homework-6.2/.vs/Homework-6.2/v15/Browse.VC.db
/Homework-6.2/.vs/Homework-6.2/v15/.suo
/Homework-6.2/.vs/Homework-6.2/v15
/Homework-6.2
/Homework-4.3/Homework-4.3/Homework-4.3/Homework-4.3.vcxproj.user
/Homework-4.3/Homework-4.3/Homework-4.3/Homework-4.3.vcxproj.filters
/Homework-4.3/Homework-4.3/Homework-4.3/directory.txt
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/vc141.pdb
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/vc141.idb
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/Solution-4.3.obj
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/Homework-4.3.tlog/link.write.1.tlog
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/Homework-4.3.tlog/link.read.1.tlog
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/Homework-4.3.tlog/link.command.1.tlog
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/Homework-4.3.tlog/Homework-4.3.lastbuildstate
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/Homework-4.3.tlog/CL.write.1.tlog
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/Homework-4.3.tlog/CL.read.1.tlog
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/Homework-4.3.tlog/CL.command.1.tlog
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/Homework-4.3.tlog
/Homework-4.3/Homework-4.3/Homework-4.3/Debug/Homework-4.3.log
/Homework-4.3/Homework-4.3/Homework-4.3/Debug
/Homework-4.3/Homework-4.3/Homework-4.3
/Homework-4.3/Homework-4.3/directory.txt
/Homework-4.3/Homework-4.3/Debug/Homework-4.3.pdb
/Homework-4.3/Homework-4.3/Debug/Homework-4.3.ilk
/Homework-4.3/Homework-4.3/Debug/Homework-4.3.exe
/Homework-4.3/Homework-4.3/Debug
/Homework-4.3/Homework-4.3/.vs/Homework-4.3/v15/ipch/AutoPCH/216eda8a53a703ef/SOLUTION-4.3.ipch
/Homework-4.3/Homework-4.3/.vs/Homework-4.3/v15/ipch/AutoPCH/216eda8a53a703ef
/Homework-4.3/Homework-4.3/.vs/Homework-4.3/v15/Browse.VC.db
/Homework-4.3/Homework-4.3/.vs/Homework-4.3/v15/.suo
/Homework-4.3/Homework-4.3/.vs/Homework-4.3/v15
/Homework-4.3/Homework-4.3
/Homework-3.3-secondOption/Homework-3.3-secondOption.sln
/Homework-3.3-secondOption/Homework-3.3-secondOption/Homework-3.3-secondOption.vcxproj.user
/Homework-3.3-secondOption/Homework-3.3-secondOption/Homework-3.3-secondOption.vcxproj.filters
/Homework-3.3-secondOption/Homework-3.3-secondOption/Homework-3.3-secondOption.vcxproj
/Homework-3.3-secondOption/Homework-3.3-secondOption/Homework-3.3-new.cpp
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/vc141.pdb
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/vc141.idb
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/Homework.ADE78E5B.tlog/link.write.1.tlog
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/Homework.ADE78E5B.tlog/link.read.1.tlog
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/Homework.ADE78E5B.tlog/link.command.1.tlog
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/Homework.ADE78E5B.tlog/Homework-3.3-secondOption.lastbuildstate
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/Homework.ADE78E5B.tlog/CL.write.1.tlog
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/Homework.ADE78E5B.tlog/CL.read.1.tlog
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/Homework.ADE78E5B.tlog/CL.command.1.tlog
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/Homework.ADE78E5B.tlog
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/Homework-3.3-secondOption.log
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug/Homework-3.3-new.obj
/Homework-3.3-secondOption/Homework-3.3-secondOption/Debug
/Homework-3.3-secondOption/Homework-3.3-secondOption
/Homework-3.3-secondOption/Debug/Homework-3.3-secondOption.pdb
/Homework-3.3-secondOption/Debug/Homework-3.3-secondOption.ilk
/Homework-3.3-secondOption/Debug/Homework-3.3-secondOption.exe
/Homework-3.3-secondOption/Debug
/Homework-3.3-secondOption/.vs/Homework-3.3-secondOption/v15/ipch/AutoPCH/2f601912cff0eb77/HOMEWORK-3.3-NEW.ipch
/Homework-3.3-secondOption/.vs/Homework-3.3-secondOption/v15/ipch/AutoPCH/2f601912cff0eb77
/Homework-3.3-secondOption/.vs/Homework-3.3-secondOption/v15/Browse.VC.db
/Homework-3.3-secondOption/.vs/Homework-3.3-secondOption/v15/.suo
/Homework-3.3-secondOption/.vs/Homework-3.3-secondOption/v15
/Homework-3.3-secondOption
/Homework-3.3-(2)/Homework-3.3-(2)/Homework-3.3-(2).vcxproj.user
/Homework-3.3-(2)/Homework-3.3-(2)/Homework-3.3-(2).vcxproj.filters
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/vc141.pdb
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/vc141.idb
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/Homework-3.3-(2).tlog/link.write.1.tlog
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/Homework-3.3-(2).tlog/link.read.1.tlog
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/Homework-3.3-(2).tlog/link.command.1.tlog
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/Homework-3.3-(2).tlog/Homework-3.3-(2).lastbuildstate
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/Homework-3.3-(2).tlog/CL.write.1.tlog
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/Homework-3.3-(2).tlog/CL.read.1.tlog
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/Homework-3.3-(2).tlog/CL.command.1.tlog
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/Homework-3.3-(2).tlog
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/Homework-3.3-(2).log
/Homework-3.3-(2)/Homework-3.3-(2)/Debug/Class-3.3-(2).obj
/Homework-3.3-(2)/Homework-3.3-(2)/Debug
/Homework-3.3-(2)/Homework-3.3-(2)
/Homework-3.3-(2)/Debug/Homework-3.3-(2).pdb
/Homework-3.3-(2)/Debug/Homework-3.3-(2).ilk
/Homework-3.3-(2)/Debug/Homework-3.3-(2).exe
/Homework-3.3-(2)/Debug
/Homework-3.3-(2)/.vs/Homework-3.3-(2)/v15/ipch/AutoPCH/95eb7587ac959e68/CLASS-3.3-(2).ipch
/Homework-3.3-(2)/.vs/Homework-3.3-(2)/v15/ipch/AutoPCH/95eb7587ac959e68
/Homework-3.3-(2)/.vs/Homework-3.3-(2)/v15/Browse.VC.db
/Homework-3.3-(2)/.vs/Homework-3.3-(2)/v15/.suo
/Homework-3.3-(2)/.vs/Homework-3.3-(2)/v15
/Homework-3.3-(2)
/Homework-3.3/Homework-3.3/Homework-3.3.vcxproj.user
/Homework-3.3/Homework-3.3/Homework-3.3.vcxproj.filters
/Homework-3.3/Homework-3.3/Debug/vc141.pdb
/Homework-3.3/Homework-3.3/Debug/vc141.idb
/Homework-3.3/Homework-3.3/Debug/Homework-3.3.tlog/link.write.1.tlog
/Homework-3.3/Homework-3.3/Debug/Homework-3.3.tlog/link.read.1.tlog
/Homework-3.3/Homework-3.3/Debug/Homework-3.3.tlog/link.command.1.tlog
/Homework-3.3/Homework-3.3/Debug/Homework-3.3.tlog/Homework-3.3.lastbuildstate
/Homework-3.3/Homework-3.3/Debug/Homework-3.3.tlog/CL.write.1.tlog
/Homework-3.3/Homework-3.3/Debug/Homework-3.3.tlog/CL.read.1.tlog
/Homework-3.3/Homework-3.3/Debug/Homework-3.3.tlog/CL.command.1.tlog
/Homework-3.3/Homework-3.3/Debug/Homework-3.3.tlog
/Homework-3.3/Homework-3.3/Debug/Homework-3.3.obj
/Homework-3.3/Homework-3.3/Debug/Homework-3.3.log
/Homework-3.3/Homework-3.3/Debug
/Homework-3.3/Homework-3.3
/Homework-3.3/Debug/Homework-3.3.pdb
/Homework-3.3/Debug/Homework-3.3.ilk
/Homework-3.3/Debug/Homework-3.3.exe
/Homework-3.3/Debug
/Homework-3.3/.vs/Homework-3.3/v15/ipch/AutoPCH/da6eb55ad7576520/HOMEWORK-3.3.ipch
/Homework-3.3/.vs/Homework-3.3/v15/ipch/AutoPCH/da6eb55ad7576520
/Homework-3.3/.vs/Homework-3.3/v15/Browse.VC.db
/Homework-3.3/.vs/Homework-3.3/v15/.suo
/Homework-3.3/.vs/Homework-3.3/v15
/Homework-3.3
/Homework-3.2/Homework-3.2.sln
/Homework-3.2/Homework-3.2/Homework-3.2.vcxproj.user
/Homework-3.2/Homework-3.2/Homework-3.2.vcxproj.filters
/Homework-3.2/Homework-3.2/Homework-3.2.vcxproj
/Homework-3.2/Homework-3.2/Homework-3.2.cpp
/Homework-3.2/Homework-3.2
/Homework-3.2/.vs/Homework-3.2/v15/ipch/AutoPCH/ab2687faf8c2ac50/HOMEWORK-3.2.ipch
/Homework-3.2/.vs/Homework-3.2/v15/ipch/AutoPCH/ab2687faf8c2ac50
/Homework-3.2/.vs/Homework-3.2/v15/Browse.VC.db
/Homework-3.2/.vs/Homework-3.2/v15/.suo
/Homework-3.2/.vs/Homework-3.2/v15
/Homework-3.2
/Homework-3.1/Homework-3.1/Homework-3.1.vcxproj.user
/Homework-3.1/Homework-3.1/Homework-3.1.vcxproj.filters
/Homework-3.1/Homework-3.1/Debug/vc141.pdb
/Homework-3.1/Homework-3.1/Debug/vc141.idb
/Homework-3.1/Homework-3.1/Debug/Homework-3.1.tlog/link.write.1.tlog
/Homework-3.1/Homework-3.1/Debug/Homework-3.1.tlog/link.read.1.tlog
/Homework-3.1/Homework-3.1/Debug/Homework-3.1.tlog/link.command.1.tlog
/Homework-3.1/Homework-3.1/Debug/Homework-3.1.tlog/Homework-3.1.lastbuildstate
/Homework-3.1/Homework-3.1/Debug/Homework-3.1.tlog/CL.write.1.tlog
/Homework-3.1/Homework-3.1/Debug/Homework-3.1.tlog/CL.read.1.tlog
/Homework-3.1/Homework-3.1/Debug/Homework-3.1.tlog/CL.command.1.tlog
/Homework-3.1/Homework-3.1/Debug/Homework-3.1.tlog
/Homework-3.1/Homework-3.1/Debug/homework-3.1.obj.enc
/Homework-3.1/Homework-3.1/Debug/Homework-3.1.obj
/Homework-3.1/Homework-3.1/Debug/Homework-3.1.log
/Homework-3.1/Homework-3.1/Debug
/Homework-3.1/Homework-3.1
/Homework-3.1/Debug/Homework-3.1.pdb
/Homework-3.1/Debug/Homework-3.1.ilk
/Homework-3.1/Debug/Homework-3.1.exe
/Homework-3.1/Debug/.vs/Homework-3.1/v15/Browse.VC.db
/Homework-3.1/Debug/.vs/Homework-3.1/v15/.suo
/Homework-3.1/Debug/.vs/Homework-3.1/v15
/Homework-3.1/Debug
/Homework-3.1/.vs/Homework-3.1/v15/ipch/AutoPCH/abe00e8436ca9f40/HOMEWORK-3.1.ipch
/Homework-3.1/.vs/Homework-3.1/v15/ipch/AutoPCH/abe00e8436ca9f40
/Homework-3.1/.vs/Homework-3.1/v15/ipch/AutoPCH/7829b3d7a310cce0/HOMEWORK-3.1.ipch
/Homework-3.1/.vs/Homework-3.1/v15/ipch/AutoPCH/7829b3d7a310cce0
/Homework-3.1/.vs/Homework-3.1/v15/ipch/AutoPCH
/Homework-3.1/.vs/Homework-3.1/v15/Browse.VC.db
/Homework-3.1/.vs/Homework-3.1/v15/.suo
/Homework-3.1/.vs/Homework-3.1/v15
/Homework-3.1
/Homework-2.4/x64/Debug/Homework-2.4.pdb
/Homework-2.4/x64/Debug/Homework-2.4.ilk
/Homework-2.4/x64/Debug/Homework-2.4.exe
/Homework-2.4/x64/Debug
/Homework-2.4/Homework-2.4/x64/Debug/vc141.pdb
/Homework-2.4/Homework-2.4/x64/Debug/vc141.idb
/Homework-2.4/Homework-2.4/x64/Debug/Homework-2.4.tlog/link.write.1.tlog
/Homework-2.4/Homework-2.4/x64/Debug/Homework-2.4.tlog/link.read.1.tlog
/Homework-2.4/Homework-2.4/x64/Debug/Homework-2.4.tlog/link.command.1.tlog
/Homework-2.4/Homework-2.4/x64/Debug/Homework-2.4.tlog/Homework-2.4.lastbuildstate
/Homework-2.4/Homework-2.4/x64/Debug/Homework-2.4.tlog/CL.write.1.tlog
/Homework-2.4/Homework-2.4/x64/Debug/Homework-2.4.tlog/CL.read.1.tlog
/Homework-2.4/Homework-2.4/x64/Debug/Homework-2.4.tlog/CL.command.1.tlog
/Homework-2.4/Homework-2.4/x64/Debug/Homework-2.4.tlog
/Homework-2.4/Homework-2.4/x64/Debug/Homework-2.4.obj
/Homework-2.4/Homework-2.4/x64/Debug/Homework-2.4.log
/Homework-2.4/Homework-2.4/x64/Debug
/Homework-2.4/Homework-2.4/Homework-2.4.vcxproj.user
/Homework-2.4/Homework-2.4/Homework(2.4).vcxproj.user
/Homework-2.4/Homework-2.4/Debug/vc141.pdb
/Homework-2.4/Homework-2.4/Debug/vc141.idb
/Homework-2.4/Homework-2.4/Debug/Homework-2.4.tlog/link.write.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework-2.4.tlog/link.read.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework-2.4.tlog/link.command.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework-2.4.tlog/Homework-2.4.lastbuildstate
/Homework-2.4/Homework-2.4/Debug/Homework-2.4.tlog/CL.write.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework-2.4.tlog/CL.read.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework-2.4.tlog/CL.command.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework-2.4.tlog
/Homework-2.4/Homework-2.4/Debug/Homework-2.4.obj
/Homework-2.4/Homework-2.4/Debug/Homework-2.4.log
/Homework-2.4/Homework-2.4/Debug/Homework(2.4).tlog/link.write.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework(2.4).tlog/link.read.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework(2.4).tlog/link.command.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework(2.4).tlog/Homework(2.4).lastbuildstate
/Homework-2.4/Homework-2.4/Debug/Homework(2.4).tlog/CL.write.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework(2.4).tlog/CL.read.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework(2.4).tlog/CL.command.1.tlog
/Homework-2.4/Homework-2.4/Debug/Homework(2.4).tlog
/Homework-2.4/Homework-2.4/Debug/Homework(2.4).obj
/Homework-2.4/Homework-2.4/Debug/Homework(2.4).log
/Homework-2.4/Homework-2.4/Debug
/Homework-2.4/Homework-2.4/.vs/Homework(2.4)/v15/ipch/AutoPCH/377b132a2b43064c/HOMEWORK-2.4.ipch
/Homework-2.4/Homework-2.4/.vs/Homework(2.4)/v15/ipch/AutoPCH/377b132a2b43064c
/Homework-2.4/Homework-2.4/.vs/Homework(2.4)/v15/Browse.VC.db
/Homework-2.4/Homework-2.4/.vs/Homework(2.4)/v15/.suo
/Homework-2.4/Homework-2.4/.vs/Homework(2.4)/v15
/Homework-2.4/Homework-2.4
/Homework-2.4/Debug/Homework-2.4.pdb
/Homework-2.4/Debug/Homework-2.4.ilk
/Homework-2.4/Debug/Homework-2.4.exe
/Homework-2.4/Debug
/Homework-2.4/.vs/Homework-2.4/v15/Solution.VC.db
/Homework-2.4/.vs/Homework-2.4/v15/ipch/AutoPCH/f18101dbef8e625b/HOMEWORK-2.4.ipch
/Homework-2.4/.vs/Homework-2.4/v15/ipch/AutoPCH/f18101dbef8e625b
/Homework-2.4/.vs/Homework-2.4/v15/ipch/AutoPCH/4dd924fcec7747a0/HOMEWORK(2.4).ipch
/Homework-2.4/.vs/Homework-2.4/v15/ipch/AutoPCH/4dd924fcec7747a0
/Homework-2.4/.vs/Homework-2.4/v15/ipch/AutoPCH/3bc8f5e941043fe0/HOMEWORK-2.4.ipch
/Homework-2.4/.vs/Homework-2.4/v15/ipch/AutoPCH/3bc8f5e941043fe0
/Homework-2.4/.vs/Homework-2.4/v15/ipch/AutoPCH/218a54863a3d4954/HOMEWORK-2.4.ipch
/Homework-2.4/.vs/Homework-2.4/v15/ipch/AutoPCH/218a54863a3d4954
/Homework-2.4/.vs/Homework-2.4/v15/ipch/AutoPCH
/Homework-2.4/.vs/Homework-2.4/v15/Browse.VC.db
/Homework-2.4/.vs/Homework-2.4/v15/.suo
/Homework-2.4/.vs/Homework-2.4/v15
/Homework-2.4
/Homework-2.3-debug
/Homework-2.3
/Homework-2.2
/Test_2_1
